<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.warehousing.mapper.CommodityMapper">
    
    <resultMap type="Commodity" id="CommodityResult">
        <result property="cId"    column="c_id"    />
        <result property="commodityName"    column="commodity_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCommodityVo">
        select c_id, commodity_name, create_by, create_time, update_by, update_time, remark from commodity
    </sql>

    <select id="selectCommodityList" parameterType="Commodity" resultMap="CommodityResult">
        <include refid="selectCommodityVo"/>
        <where>  
            <if test="commodityName != null  and commodityName != ''"> and commodity_name like concat('%', #{commodityName}, '%')</if>
        </where>
    </select>
    
    <select id="selectCommodityByCId" parameterType="Long" resultMap="CommodityResult">
        <include refid="selectCommodityVo"/>
        where c_id = #{cId}
    </select>
        
    <insert id="insertCommodity" parameterType="Commodity" useGeneratedKeys="true" keyProperty="cId">
        insert into commodity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commodityName != null">commodity_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commodityName != null">#{commodityName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCommodity" parameterType="Commodity">
        update commodity
        <trim prefix="SET" suffixOverrides=",">
            <if test="commodityName != null">commodity_name = #{commodityName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where c_id = #{cId}
    </update>

    <delete id="deleteCommodityByCId" parameterType="Long">
        delete from commodity where c_id = #{cId}
    </delete>

    <delete id="deleteCommodityByCIds" parameterType="String">
        delete from commodity where c_id in 
        <foreach item="cId" collection="array" open="(" separator="," close=")">
            #{cId}
        </foreach>
    </delete>

</mapper>