<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.warehousing.mapper.ManufacturerMapper">
    
    <resultMap type="Manufacturer" id="ManufacturerResult">
        <result property="mId"    column="m_id"    />
        <result property="manufacturerName"    column="manufacturer_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectManufacturerVo">
        select m_id, manufacturer_name, create_by, create_time, update_by, update_time, remark from manufacturer
    </sql>

    <select id="selectManufacturerList" parameterType="Manufacturer" resultMap="ManufacturerResult">
        <include refid="selectManufacturerVo"/>
        <where>  
            <if test="manufacturerName != null  and manufacturerName != ''"> and manufacturer_name like concat('%', #{manufacturerName}, '%')</if>
        </where>
        order by m_id desc

    </select>
    
    <select id="selectManufacturerByMId" parameterType="Long" resultMap="ManufacturerResult">
        <include refid="selectManufacturerVo"/>
        where m_id = #{mId}
    </select>

    <select id="selectManufacturerAll" resultMap="ManufacturerResult">
        <include refid="selectManufacturerVo"/>
    </select>

    <insert id="insertManufacturer" parameterType="Manufacturer" useGeneratedKeys="true" keyProperty="mId">
        insert into manufacturer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="manufacturerName != null">manufacturer_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="manufacturerName != null">#{manufacturerName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateManufacturer" parameterType="Manufacturer">
        update manufacturer
        <trim prefix="SET" suffixOverrides=",">
            <if test="manufacturerName != null">manufacturer_name = #{manufacturerName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where m_id = #{mId}
    </update>

    <delete id="deleteManufacturerByMId" parameterType="Long">
        delete from manufacturer where m_id = #{mId}
    </delete>

    <delete id="deleteManufacturerByMIds" parameterType="String">
        delete from manufacturer where m_id in 
        <foreach item="mId" collection="array" open="(" separator="," close=")">
            #{mId}
        </foreach>
    </delete>

</mapper>