<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.warehousing.mapper.TransactionRecordMapper">

    <resultMap type="TransactionRecord" id="TransactionRecordResult">
        <result property="trId" column="tr_id"/>
        <result property="cId" column="c_id"/>
        <result property="commodityName" column="commodity_name"/>
        <result property="mId" column="m_id"/>
        <result property="manufacturerName" column="manufacturer_name"/>
        <result property="tId" column="t_id"/>
        <result property="amount" column="amount"/>
        <result property="tDate" column="t_date"/>
        <result property="unit" column="unit"/>
        <result property="color" column="color"/>
        <result property="inOrOut" column="in_or_out"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectTransactionRecordVo">
        select tr.tr_id,
               tr.c_id,
               c.commodity_name,
               m.m_id,
               m.manufacturer_name,
               tr.t_id,
               tr.amount,
               tr.t_date,
               tr.unit,
               tr.color,
               tr.in_or_out,
               tr.create_by,
               tr.create_time,
               tr.update_by,
               tr.update_time,
               tr.remark
        from transaction_record tr
                 left join manufacturer m on tr.m_id = m.m_id
                 left join commodity c on c.c_id = tr.c_id
    </sql>

    <select id="selectTransactionRecordList" parameterType="TransactionRecord" resultMap="TransactionRecordResult">
        <include refid="selectTransactionRecordVo"/>
        <where>
            <if test="cId != null ">and tr.c_id = #{cId}</if>
            <if test="mId != null ">and tr.m_id = #{mId}</if>
            <if test="tId != null ">and tr.t_id = #{tId}</if>
            <if test="amount != null ">and tr.amount = #{amount}</if>
            <if test="unit != null  and unit != ''">and tr.unit = #{unit}</if>
            <if test="color != null  and color != ''">and tr.color like concat('%', #{color}, '%')</if>
            <if test="inOrOut != null and inOrOut != ''">and tr.in_or_out = #{inOrOut}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(tr.t_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(tr.t_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        order by  tr_id desc
    </select>

    <select id="selectTransactionRecordByTrId" parameterType="Long" resultMap="TransactionRecordResult">
        <include refid="selectTransactionRecordVo"/>
        where tr.tr_id = #{trId}
    </select>

<!--    <select id="selectCountTransactionRecordBytIds" parameterType="String" resultMap="Long">-->
<!--        select count(*) from transaction_record where t_id in-->
<!--        <foreach item="tId" collection="array" open="(" separator="," close=")">-->
<!--            #{tId}-->
<!--        </foreach>-->
<!--    </select>-->

<!--    <select id="selectCountTransactionRecordBytId" parameterType="Long" resultMap="Long">-->
<!--        select count(*)-->
<!--        from transaction_record-->
<!--        where t_id = #{tId}-->
<!--    </select>-->

    <insert id="insertTransactionRecord" parameterType="TransactionRecord" useGeneratedKeys="true" keyProperty="trId">
        insert into transaction_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cId != null">c_id,</if>
            <if test="mId != null">m_id,</if>
            <if test="tId != null">t_id,</if>
            <if test="amount != null">amount,</if>
            <if test="tDate != null">t_date,</if>
            <if test="unit != null">unit,</if>
            <if test="color != null">color,</if>
            <if test="inOrOut != null">in_or_out,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cId != null">#{cId},</if>
            <if test="mId != null">#{mId},</if>
            <if test="tId != null">#{tId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="tDate != null">#{tDate},</if>
            <if test="unit != null">#{unit},</if>
            <if test="color != null">#{color},</if>
            <if test="inOrOut != null">#{inOrOut},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateTransactionRecord" parameterType="TransactionRecord">
        update transaction_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="cId != null">c_id = #{cId},</if>
            <if test="mId != null">m_id = #{mId},</if>
            <if test="tId != null">t_id = #{tId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="tDate != null">t_date = #{tDate},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="color != null">color = #{color},</if>
            <if test="inOrOut != null">in_or_out = #{inOrOut},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where tr_id = #{trId}
    </update>

    <delete id="deleteTransactionRecordByTrId" parameterType="Long">
        delete
        from transaction_record
        where tr_id = #{trId}
    </delete>

    <delete id="deleteTransactionRecordBytId" parameterType="Long">
        delete
        from transaction_record
        where t_id = #{tId}
    </delete>

    <delete id="deleteTransactionRecordByTrIds" parameterType="String">
        delete from transaction_record where tr_id in
        <foreach item="trId" collection="array" open="(" separator="," close=")">
            #{trId}
        </foreach>
    </delete>

    <delete id="deleteTransactionRecordBytIds" parameterType="String">
        delete from transaction_record where t_id in
        <foreach item="tId" collection="array" open="(" separator="," close=")">
            #{tId}
        </foreach>
    </delete>

</mapper>