<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增transaction')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-transaction-add">
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">厂家名称：</label>
            <div class="col-sm-8">
                <select id="mId" name="mId" class="form-control">
                    <!--                    <option value="">所有</option>-->
                    <option th:each="manufacturer: ${manufacturerList}"
                            th:text="${manufacturer['manufacturerName']}"
                            th:value="${manufacturer['mId']}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">交易日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <!--                    <input type="text" class="time-input" placeholder="请选择交易日期" name="tDate"/>-->
                    <input name="tDate" class="form-control time-input" placeholder="yyyy-MM-dd" type="text"
                           th:value="${today_date}">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">操作状态：</label>
            <div class="col-sm-8">
                <select name="inOrOut" th:with="type=${@dict.getType('warehousing_status')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">交易明细：</label>
            <div class="col-sm-8">
                <table id="bootstrap-table" class="mytable">
                    <thead>
                    <tr>
                        <th> 商品名称</th>
                        <th> 数量</th>
                        <th> 单位</th>
                        <th> 颜色</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="col-sm-15">
                                <select name="cId" class="form-control col-sm-5">
                                    <option value=""></option>
                                    <option th:each="commodity: ${commodityList}"
                                            th:text="${commodity['commodityName']}"
                                            th:value="${commodity['cId']}"></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <input name="amount" class="form-control" type="text">
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <select name="unit" th:with="type=${@dict.getType('commodity_unit')}">
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictLabel}"></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <input name="color" class="form-control" type="text">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-sm-15">
                                <select name="cId" class="form-control col-sm-5">
                                    <option value=""></option>
                                    <option th:each="commodity: ${commodityList}"
                                            th:text="${commodity['commodityName']}"
                                            th:value="${commodity['cId']}"></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <input name="amount" class="form-control" type="text">
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <select name="unit" th:with="type=${@dict.getType('commodity_unit')}">
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictLabel}"></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <input name="color" class="form-control" type="text">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-sm-15">
                                <select name="cId" class="form-control col-sm-5">
                                    <option value=""></option>
                                    <option th:each="commodity: ${commodityList}"
                                            th:text="${commodity['commodityName']}"
                                            th:value="${commodity['cId']}"></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <input name="amount" class="form-control" type="text">
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <select name="unit" th:with="type=${@dict.getType('commodity_unit')}">
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictLabel}"></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <input name="color" class="form-control" type="text">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-sm-15">
                                <select name="cId" class="form-control col-sm-5">
                                    <option value=""></option>
                                    <option th:each="commodity: ${commodityList}"
                                            th:text="${commodity['commodityName']}"
                                            th:value="${commodity['cId']}"></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <input name="amount" class="form-control" type="text">
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <select name="unit" th:with="type=${@dict.getType('commodity_unit')}">
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictLabel}"></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <input name="color" class="form-control" type="text">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-sm-15">
                                <select name="cId" class="form-control col-sm-5">
                                    <option value=""></option>
                                    <option th:each="commodity: ${commodityList}"
                                            th:text="${commodity['commodityName']}"
                                            th:value="${commodity['cId']}"></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <input name="amount" class="form-control" type="text">
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <select name="unit" th:with="type=${@dict.getType('commodity_unit')}">
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictLabel}"></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12">
                                <input name="color" class="form-control" type="text">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">备注信息：</label>
            <div class="col-sm-8">
                <textarea name="remark" class="form-control"></textarea>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script th:inline="javascript">
    var prefix = ctx + "warehousing/transaction"
    $("#form-transaction-add").validate({
        focusCleanup: true,
        rules: {
            amount: {
                number: true
            }
        }
    });

    function submitHandler() {
        const reg=/^[0-9]+.?[0-9]*$/; //判断字符串是否为数字 ，判断正整数用/^[1-9]+[0-9]*]*$/

        if ($.validate.form()) {
            let lists = [];
            // 获取每行的结果
            let trList = $("#bootstrap-table").find("tr");
            for (let i = 1; i < trList.length; i++) {
                let obj = {};
                let cId = $(trList[i]).find("select[name='cId']").val()
                if (typeof (cId) != 'undefined' && cId !== '') { //只处理选中的行数据
                    obj["cId"] = cId
                    obj["unit"] = $(trList[i]).find("select[name='unit']").val()
                    obj["color"] = $(trList[i]).find("input[name='color']").val()
                    obj["amount"] = $(trList[i]).find("input[name='amount']").val()
                    lists.push(obj)
                    // console.log(obj["amount"])
                    if(!reg.test(obj["amount"])){
                        $.modal.alertWarning('数量列必须为正数');
                        return
                    }
                }
            }
            if (lists.length === 0) {
                $.modal.alertWarning('请保存至少一条数据');
                return
            }
            let result_data = {};
            $("#form-transaction-add").serializeArray().map(function (x) {
                if (result_data[x.name] !== undefined) {
                    if (!result_data[x.name].push) {
                        result_data[x.name] = [result_data[x.name]];
                    }
                    result_data[x.name].push(x.value || '');
                } else {
                    result_data[x.name] = x.value || '';
                }
            });
            result_data["transactionRecordList"] = lists
            $.operate.save_json(prefix + "/add", JSON.stringify(result_data));
        }

        $("input[name='tDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    }
</script>

</body>
</html>